<div class="side-bar-menu">
    <div class="title-side">
        <h3>Video Tool</h3>
        <ul class="list-item">
            <li class="item">
                <a ><i class="bi bi-back"></i>&nbsp; Dashboard</a>
            </li>
            <li class="item select">
                <a routerLink="/videos" style="color: white;"><i  class="bi bi-archive"></i>&nbsp; Videos</a>
            </li>
            <li class="item">
                <a ><i class="bi bi-play-circle"></i>&nbsp; Player</a>
            </li>
            <li class="item">
                <a><i class="bi bi-bar-chart-fill"></i>&nbsp; Analytics</a>
            </li>
            <li class="item">
                <a><i class="bi bi-gear"></i>&nbsp; Configuraciones</a>
            </li>
        </ul>
    </div>
    <div class="card-plan">
        <div class="card-body">
            <h6>Mi Plan - Plus</h6>        
            <p class="card-p">El uso se renueva el 3-may-23</p>
            <div class="card-bar-progress">
               <p>Almacenamiento<span>23.5 GB/1TB</span></p>               
               <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
            </div>
            <div class="card-bar-progress">
                <p>Banda Mensual<span>3.4 TB/5TB</span></p>
                <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
             </div>
             <div class="card-bar-progress">                
                <button type="button" class="btn btn-custom">Administrar Plan</button>                
             </div>
        </div>
       
    </div>
</div>